{% extends "adminBase.html.twig" %}

{% block body %}

<div class="container">
    <h1>Edition des chapitres</h1>
    {{ include ('chapter/_form_chapter.html.twig', {form: form, button:'Modifier'}) }}
</div>

{% endblock body %}