@font-face {
    font-family: 'Berry_Rotunda';
    src: url('font/Berry_Rotunda.ttf') format('truetype');
}

@font-face {
    font-family: 'paragraph_Cardinal';
    src: url('font/Cardinal.ttf') format('truetype');

}
    
@font-face {
    font-family: 'title_Ruritania';
    src: url('font/Ruritania.ttf') format('truetype');
    font-weight: bold;
   
}

body{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #676259;
}

/* Général configuration*/
h1{
    font-family: 'paragraph_Cardinal', Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding-top: 30px;
    text-align: center;
    text-decoration: underline;
}
h2{
    font-family: 'paragraph_Cardinal', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}
#intro{
    text-align: center;
    color: #676259;
}
#intro p{
    padding: 30px;
}
.intro{
    padding-bottom: 30px;
}
table
{
    font-size: x-large;
}
.table-striped{
    font-size: x-large;
}

/*link configure*/
a {
    color: whitesmoke;
}
a:hover {
    color:#375a7f; 
}

form{
    width: 100%;
    margin: auto;
}
.box01
{
    background-color: black;
}
.box02
{
    background-color: #FFEFD5;
    padding-bottom: 30px;

}
/* Template de base*/
.navbar{
    font-size: x-large;
    background-color: #E0CDA9 !important;
}
/* Template admin*/
.navbarAdminBase{
    font-family: Arial, Helvetica, sans-serif;

}
#admin {
    font-family: 'Times New Roman', Helvetica, sans-serif;
}
#admin h1{
    font-family: 'Times New Roman', Helvetica, sans-serif;
}


/* */
.navbar-nav{
    margin-right:0px !important;
    margin-inline-start: auto;
}

.carousel-control-prev-icon{
    background-image: url(/pictures/left.png);
    width: 50px;
    height:50px;
}
.carousel-control-next-icon{
    background-image: url(/pictures/right.png);
    width: 50px;
    height:50px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #E0CDA9 !important;
    color: #676259;
    height: 170px;
    padding: 10px;
}
.plan, .social{
    font-size: small;
}
footer a{
    color: #676259;
}

/* general page template */
#adminMemberPage_box01{
    display: flex;
    text-align: center;
    background-color: #FFEFD5;
}
.adminMemberPage_box01_picture{
    width: 50%;
    padding: 30px;
}
.adminMemberPage_box01_paragraph{
    width: 50%;
    margin: auto;
}
.adminMemberPage_box01_paragraph .container{
   
    display: flex;
    justify-content: center;
}

.adminMemberPage_box01_paragraph div p{
    padding-top: 30px;
}
.adminMemberPage_box01_paragraph a{
    padding-top: 30px;
}
#adminMemberPage_box02{
    text-align: center;
}
#adminMemberPage_box02 h1{
    padding: 20px;
}
#adminMemberPage_box02 table{
    margin: 10px auto;
}
#adminMemberPage_box02 th{
    border-top:solid #FFEFD5 2px;
   
}
#adminMemberPage_box02 th, td{
    padding: 10px;
    border-bottom:solid #FFEFD5 2px;
}
.deleteButton{
    color: #F08080;
}
a:hover{
    color: crimson;
}
/* createCharacter*/
#createCharacter_box01{
  text-align: center;
}
    #createCharacter_box01 img{
        width: 50%;
        padding: 20px;
    }
#createCharacter_box02{
    background-color: #FFEFD5;
    text-align: justify;
}
    .createCharacter_box02_paragraph{
        padding: 10px 40px 40px 40px;
    }
    .createCharacter_box03_forDisplay{
        display: flex;
    }
    .createCharacter_box03_paragraph{
        width: 60%;
        padding: 40px;
        text-align: justify;
        font-style: italic;
        margin: auto;
    }
    .createCharacterForm{
        width: 40%;
        padding: 40px;
        margin: auto;
        font-size: x-large;
    }
    .createCharacterForm input,.createCharacterForm select{
        font-size: x-large;
    }

    .homeParagraph{
        text-align: justify;
    }

/* help */
#help{
    padding: 20px;
    background-color: #FFEFD5;
    text-align: center;
}
.helpContainer{
    padding-bottom: 10px;
    text-align: end;
}
.createChapter{
    padding-left: 30px;
}

.author{
    text-align: right;
    font-style: italic;
    font-size: smaller;
}
.chapterName{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}
.chapterDisplay{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 10px gray, 0px 0px 20px grey;
               
}
.roadDisplay p{
    padding-top: 15px;
}
.mention h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.mention h3{
    text-decoration: underline;
}

body, html{
    height:100%;
}
#main{
    position: relative;
    min-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#block, #admin{
    padding-bottom: 200px;
}
.logForm input{
    font-size: x-large;
}
.avatar{
   text-align: center;
   
}
.avatar img{
    width: 90%;
    box-shadow: 50px 0px 100px gray, -50px 0px 100px grey;
}
.read{
    text-align: center;
}
.table-bordered{
    border: 4px solid white;
}
.table-bordered td{
    border: 2px solid white;
}

@media screen and (max-width: 1200px){
    .table-striped{
        font-size: small;
    }
    .avatar img{
        width: 40%;
    }
}

@media screen and (max-width: 800px){
    .table-striped{
        font-size: xx-small;
    }
    #adminMemberPage_box01{
        flex-direction: column;
    }
    .adminMemberPage_box01_picture{
        margin: auto;
    }
    .createCharacter_box03_forDisplay{
        flex-direction: column;
    }
    .createCharacter_box03_paragraph, .createCharacterForm{
       width: 80%;
    }
}