@font-face {
    font-family: 'Berry_Rotunda';
    src: url('font/Berry_Rotunda.ttf') format('truetype');
}

@font-face {
    font-family: 'paragraph_Cardinal';
    src: url('font/Cardinal.ttf') format('truetype');

}
    
@font-face {
    font-family: 'title_Ruritania';
    src: url('font/Ruritania.ttf') format('truetype');
    font-weight: bold;
   
}

body{
    font-family: 'Berry_Rotunda', Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #676259;
}

/* Général configuration*/
h1{
    font-family: 'title_Ruritania', Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding-top: 30px;
    text-align: center;
}
h2{
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}
#intro{
    text-align: center;
    color: #676259;
}
#intro p{
    font-family: 'paragraph_Cardinal', Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: xxx-large;
}
.btn-primary{
    background-color: #5A3A22;
}
form{
    width: 100%;
    margin: auto;
}
.box01
{
    background-color: black;
}
.box02
{
    background-color: #FFEFD5;
}
/* Template de base*/
.navbar{
    font-size: x-large;
    background-color: #E0CDA9 !important;
}

.navbar-nav{
    margin-right:0px !important;
    margin-inline-start: auto;
}

#homeIntroduction{
    width: 70%;
    text-align: center;
    font-size: large;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-prev-icon{
    background-image: url(/pictures/left.png);
    width: 50px;
    height:50px;
}
.carousel-control-next-icon{
    background-image: url(/pictures/right.png);
    width: 50px;
    height:50px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #E0CDA9 !important;
    color: #676259;
    height: 200px;
    padding: 50px;
}

/* general page template */
#adminMemberPage_box01{
    display: flex;
    text-align: center;
    background-color: #FFEFD5;
}
.adminMemberPage_box01_picture{
    width: 50%;
    padding: 30px;
}
.adminMemberPage_box01_paragraph{
    width: 50%;
    margin: auto;
}
.adminMemberPage_box01_paragraph .container{
   
    display: flex;
    justify-content: center;
}
.adminMemberPage_box01_paragraph .container form{
    width: initial;
    margin: initial;
    padding: 10px;
}
.adminMemberPage_box01_paragraph div p{
    padding: 30px;
}
.adminMemberPage_box01_paragraph a{
    padding-top: 30px;
}
#adminMemberPage_box02{
    text-align: center;
}
#adminMemberPage_box02 h1{
    padding: 20px;
}
#adminMemberPage_box02 table{
    margin: 10px auto;
}
#adminMemberPage_box02 th{
    border-top:solid #FFEFD5 2px;
   
}
#adminMemberPage_box02 th, td{
    padding: 10px;
    border-bottom:solid #FFEFD5 2px;
}
.deleteButton{
    color: #F08080;
}
a:hover{
    color: crimson;
}
/* createCharacter*/
#createCharacter_box01{
  text-align: center;
}
    #createCharacter_box01 img{
        width: 50%;
        padding: 20px;
    }
#createCharacter_box02{
    background-color: #FFEFD5;
}
    .createCharacter_box02_paragraph{
        padding: 10px 40px 40px 40px;
    }
#createCharacter_box03{
    
}
    .createCharacter_box03_forDisplay{
        display: flex;
    }
    .createCharacter_box03_paragraph{
        width: 60%;
        padding: 40px;
        text-align: justify;
        font-style: italic;
    }
    .createCharacter_box03_form{
        width: 40%;
        padding: 40px;
    }
table
{
    font-size: initial;
}