@font-face {
    font-family: 'Berry_Rotunda';
    src: url('font/Berry_Rotunda.ttf') format('truetype');
}

@font-face {
    font-family: 'paragraph_Cardinal';
    src: url('font/Cardinal.ttf') format('truetype');

}
    
@font-face {
    font-family: 'title_Ruritania';
    src: url('font/Ruritania.ttf') format('truetype');
    font-weight: bold;
   
}

body{
    font-family: 'Berry_Rotunda', Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #676259;
}

/* Général configuration*/
#intro{
    text-align: center;
    color: #676259;
}
#intro h1{
    font-family: 'title_Ruritania', Arial, Helvetica, sans-serif;

    font-size: 70px;
    padding-top: 30px;
}
#intro p{
    font-family: 'paragraph_Cardinal', Arial, Helvetica, sans-serif;

    padding: 30px;
    font-size: xxx-large;
}
.btn-primary{
    background-color: #5A3A22;
}
/* Template de base*/
.navbar{
    font-size: x-large;
    background-color: #FFEFD5 !important;
}

.navbar-nav{
    margin-right:0px !important;
    margin-inline-start: auto;
}

#homeIntroduction{
    width: 70%;
    text-align: center;
    font-size: large;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-prev-icon{
    background-image: url(/pictures/left.png);
    width: 50px;
    height:50px;
}
.carousel-control-next-icon{
    background-image: url(/pictures/right.png);
    width: 50px;
    height:50px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFEFD5 !important;
    color: #676259;
    height: 200px;
    padding: 50px;
}
/* admin member page*/
#adminMemberPage_characterBox{
    display: flex;
    text-align: center;
    background-color: #FFEFD5;
}
.adminMemberPage_characterBox_picture{
    width: 50%;
    padding: 30px;
}
.adminMemberPage_characterBox_paragraph{
    width: 50%;
    margin: auto;
}
.adminMemberPage_characterBox_paragraph div p{
    padding: 30px;
}
.adminMemberPage_characterBox_paragraph a{
    padding-top: 30px;
}

