{% extends "base.html.twig" %}

{% block body %}
<div class="container mention">
    <h2>Mentions légales</h2>
    <h3>Qui sommes nous</h3>
    <p>Le site accessible à l’adresse www.ecriresonhistoire.fr (et les sites placés en sous-domaines qui en découlent)
        est
        destiné à l’information personnelle et la mobilisation des internautes qui l’utilisent. L’accès et l’utilisation
        de
        ce
        site sont soumis aux présentes « conditions générales » détaillées ci-après ainsi qu’aux lois applicables sur le
        territoire français.</p>
    <p>L'auteur se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes conditions et tous les
        éléments
        présentés sur ce site.</p>
    <p>Le site internet ECRIRE SON HISTOIRE et les présentes conditions sont rédigés en français.</p>
    <h3>Avertissement et liens</h3>
    <p>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses
        propres
        données et/ou logiciels de la contamination par d’éventuels virus circulant sur le réseau Internet. L'auteur
        décline
        toute
        responsabilité à un éventuel dommage survenu pendant la consultation ou après un téléchargement effectué à
        partir du
        présent site. L’utilisateur reconnaît avoir été informé que le présent site est accessible 24 heures sur 24 et 7
        jours
        sur 7, à l’exception des cas de force majeure, difficultés informatiques ou difficultés techniques.</p>
    <h2>Conditions Générales</h2>
    <h3>Publication et hébergement</h3>
    <p>Le site web www.ecriresonhistoire.fr, et les sites web associés, sont publiés par : M DER SARKISSIAN ALEXIS.</p>
    <p>Maîtrise d’œuvre:Alexis Der Sarkissian</p>

</div>














{% endblock body %}