{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Règles</h1>
    <p>Ce site étant en version alpha il n'est pas possible pour le moment d'utiliser toutes les fonctionnalités.</p>
    <p>Si vous voulez avoir un accès aux pages vous devez créer un compte utilisateur. Vous pourrez ensuite suivre une
        mini-histoire afin de comprendre le fonctionnement du site.</p>
</div>

{% endblock body %}