{% extends "adminBase.html.twig" %}

{% block body %}
<div class="container">
    <h1>Editer ce bouton</h1>
    {{ include ('road/_form_road.html.twig', {form: form, button:'Editer'}) }}
</div>
{% endblock body %}